

@font-face {
  font-family: "Circular-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BoldItalic";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BookItalic";
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular-LightItalic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("../fonts/Caveat-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Caveat-Medium";
  src: url("../fonts/Caveat-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Caveat-Regular";
  src: url("../fonts/Caveat-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Caveat-SemiBold";
  src: url("../fonts/Caveat-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}


*
{
    margin: 0;
}

.Hero 
{
    height: 95vh;
    width: 100vw;
    background-image: url("../images/AboutUsHeroSection.svg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DiscoverText
{
color: #FFFFFF;
font-family: "Circular-Light";
font-size: 1rem;
font-weight: lighter;
position: absolute;
bottom: 2vh;
animation: DiscoverText 1.5s ease-in-out infinite;
padding-bottom: 1vh;
}

@keyframes DiscoverText
{
    0%, 100%
    {
        transform: translateY(0);
    }    
    50%
    {
        transform: translateY(-30px);
    }
}


.HeroImage
{
    object-fit: cover;
    width: 30vw;
    
}

.header 
{
    grid-column: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;

    transition: all 0.5s ease;
}

.header:hover 
{
    background-color: #EDE5BB;
}

.header:hover a
{
    color: rgb(255, 255, 255);
}

.header > a
{
    color: #FFFFFF;
    font-size: 2rem;
    font-family: "Circular-Light";
    font-weight: 100;
    text-decoration: none;
    align-self: flex-start;
    transition: all 0.5s ease;
}


.header > a.language-change
{
    position: absolute;
    right: 2vw;
    top: 2vh;
    font-size:2rem;
}

.footer
{
  background-color: rgba(0, 101, 124, 0.7);
  width: 100vw;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(18,1fr);
}

.footertext
{
font-family: "Circular-Light";
color:#ffffff ;
font-size: 2vh;
}

.footerbox1
{
  padding-left: 2vh;
  grid-area: 1/1/15/7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerlogo
{
font-family: "Circular-Medium";
color:#EDE5BB ;
font-size: 8vh;
}
.footerline1
{
  margin-top: 2vh;
  background-color:#00657C;
  width: 100%;
  min-height: 1px;

}
.footerline2
{
  grid-area: -8/14/-8/18;
  margin-top: 2vh;
  background-color:#00657C;
  min-height: 1px;
  width: 20vw;
}

.footerbuttons
{
  padding-left: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2vh;
  list-style-type: none;
} 

 .footerbuttons ul
{
  padding: 0;
  margin: 0;
}
 
 .footerbuttons li
{
  margin: 0;
  padding: 0;
}

 .footerbuttons a
{
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.footerbuttons a::after
{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #EDE5BB;
  transition: width 0.4s ease-in-out;
}

.footerbuttons a:hover
{
  color: #EDE5BB;
}

.footerbuttons a:hover::after
{
  width: 100%;
}


.footerillustrationbox
{
  grid-area: 1/8/19/12;

}

.imgfooter
{
  width: 100%;
  height: 100%;

}

.footerbox2
{
  grid-area: 7/14/19/19;
}

.copyright
{
margin-top: 2vh;
font-family: "Circular-Light";
color:#ffffff ;
font-size: 1.5vh;
}

.languagebox
{
  grid-area: -8/18/-7/19;
}

.language
{
font-family: "Circular-Light";
color:#ffffff ;
font-size: 2vh;
}

.aboutoui
{
  height: 90vh;
  width: 100vw;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(18, 1fr);
}

.about-oui-slogan
{
  grid-area: 1/6/3/14;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.about-oui-line
{
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  background-color:#00657C;
  grid-area: 1/10/2/10;
  width: 1px;
  height: 100%;
}

.about-oui-text
{
  font-family: "Circular-Book";
  color: #00657C;
  font-size: 2.5vh;
}

.about-oui-info-box
{
  grid-area: 4/1/17/19;
  background-color:rgb(217, 217, 217);
  opacity: 0.2;
}

.blue-box-frame
{
  grid-area: 5/10/15/16;
  background-color: #00657C;
  opacity: 1;
}

.illustration-box-frame
{
  grid-area: 6/12/17/19;
  margin-bottom: 1vh;
  width: 100%;
  background-image: url("../images/croissant\ background\ yellow_about\ us\ page.svg");
  
}

.about-us-image-history
{
  grid-area: 7/11/15/18;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-history-textbox
{
  grid-area: 6/2/16/9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  align-items: flex-start;
}


.about-oui-text-header
{
  font-family: "Caveat-SemiBold";
  color: #00657C;
  font-size: 4vw;
}

.about-oui-decoration-line
{
  background-color:#00657C;
  grid-area: 2/7/5/7;
  width: 15vw;
  height: 1px;
  margin-bottom: 5vh;
}

.about-oui-decoration-line2
{
  margin-top: 2vh;
  background-color:#00657C;
  grid-area: 17/10/18/10;
  width: 1px;
  height: 100%;
}


.timeline
{
  display: grid;
  grid-template-columns: repeat(32,1fr);
  grid-template-rows: repeat(32,1fr);
  width: 100vw;
  height: 100vh;
}


.timeline-text-box
{
  grid-area: 2/14/4/20;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
} 
.about-oui-timeline-line
{
  margin: 0;
  background-color:#00657C;
  grid-area: 1/10/2/10;
  width: 1px;
  height: 5vh;
}

.timeline-header-text
{
  font-family: "Circular-Bold";
  font-size: 2vh;
  color: #00657C;
  font-size: 4vh;
}

.our-story-text
{
  padding-top: 1vh;
  font-family: "Circular-Book";
  font-size: 2.5vh;
  color: #00657C;
}

.timeline-line-box 
{
  padding-top: 2.5vh;
  grid-area: 4/9/17/11;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.timeline-right-box1
{

  grid-area: 9/18/12/31;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.timeline-right-box2
{

  grid-area: 17/18/21/31;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.timeline-right-box3
{
  grid-area: 25/18/29/31;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.timeline-left-box1
{

  grid-area: 13/2/16/16;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  text-align: right;
}

.timeline-left-box2
{

  grid-area: 21/2/24/16;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-start;
  text-align: right;
}

.timeline-intext-heading
{
  font-family: "Circular-Bold";
  font-size: 2.5vh;
  color: #00657C;
  padding-bottom: 1vh;
}

.timeline-intext-main
{
  font-family: "Circular-Book";
  font-size: 2vh;
  color: #00657C;

}


