@font-face {
  font-family: "Circular-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BoldItalic";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BookItalic";
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular-LightItalic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
*
{
    margin: 0;
}

.Hero 
{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/AboutUsHeroSection.svg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DiscoverText
{
color: #FFFFFF;
font-family: "Circular-Light";
font-size: 1rem;
font-weight: lighter;
position: absolute;
bottom: 2vh;
animation: DiscoverText 1.5s ease-in-out infinite;
}

@keyframes DiscoverText
{
    0%, 100%
    {
        transform: translateY(0);
    }    
    50%
    {
        transform: translateY(-30px);
    }
}


.HeroImage
{
    object-fit: cover;
    width: 30vw;
    
}

.header 
{
    grid-column: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;

    transition: all 0.5s ease;
}

.header:hover 
{
    background-color: #EDE5BB;
}

.header:hover a
{
    color: rgb(255, 255, 255);
}

.header > a
{
    color: #FFFFFF;
    font-size: 2rem;
    font-family: "Circular-Light";
    font-weight: 100;
    text-decoration: none;
    align-self: flex-start;
    transition: all 0.5s ease;
}


.header > a.language-change
{
    position: absolute;
    right: 2vw;
    top: 2vh;
    font-size:2rem;
}

.footer
{
  background-color: rgba(0, 101, 124, 0.7);
  width: 100vw;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(18,1fr);
}

.boxfooterlogo
{
  grid-area: 3/1/9/5;
  place-items: center;
}

.footerlogo
{
font-family: "Circular-Medium";
color:#EDE5BB ;
font-size: 8vh;
}

.footerillustrationbox
{
  grid-area: 1/8/19/12;

}
.imgfooter
{
  width: 100%;
  height: 100%;

}

.footertext
{
font-family: "Circular-Light";
color:#ffffff ;
font-size: 2vh;
}

.footertextbox1
{
  grid-area: 10/1/14/5;
  padding-left: 5vh;
}

.footertextbox2
{
  grid-area: 10/14/14/16;
}

.footerline1
{
  margin-left: 3vh;
  grid-area: 15/1/15/7;
  height: 1px;
  background-color:#00657C;
 
}

.footerline2
{
  grid-area: 15/14/15/18;
  height: 1px;
  background-color:#00657C;
}

.languagebox
{
  padding-left: 2vh;
  grid-area: -6/18/-4/19;
}

.language
{
font-family: "Circular-Light";
color:#ffffff ;
font-size: 2vh;

}

.copyrightbox
{
  grid-area: -4/14/-2/17;
}
.copyrightbox
{
font-family: "Circular-Light";
color:#ffffff ;
font-size: 1.5vh;
}

.footerbuttons
{
  padding-left: 5vh;
  display: flex;
  justify-content: start;
  gap: 2vh;
  flex-direction: row;
  align-items: center;
  grid-area: 16/1/18/7;
}
