@font-face {
    font-family: "Circular-Black";
    src: url("../fonts/CircularStd-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Circular-BlackItalic";
    src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Circular-Bold";
    src: url("../fonts/CircularStd-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circular-BoldItalic";
    src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Circular-Book";
    src: url("../fonts/CircularStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circular-BookItalic";
    src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Circular-Light";
    src: url("../fonts/CircularStd-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circular-LightItalic";
    src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Circular-Medium";
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Circular-MediumItalic";
    src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F9F6F1;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    font-family: "Circular";
    color: #00657C;
}

.oopsText > h1 h2
{
    font-family: "Caveat";
}

.centerContent
{
    grid-column: 8/12;
}