@font-face {
  font-family: "Circular-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BoldItalic";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BookItalic";
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular-LightItalic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v23/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpYQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #074C5C;
  color: white;
  z-index: 100;
  grid-column: 1/19;
}

ul {
  list-style-type: none;
  height: 100%;
  gap: 4svh;
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Circular-Light";
  font-weight: 300;
  font-size: xx-large;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: 8vh;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 100;
}

.header:hover {
  background-color: white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: white;
  font-size: 2rem;
  font-family: "Circular-Light";
  font-weight: 100;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header:hover .nav-list a {
  color: black;
}

.language-change {
  position: absolute;
  right: 2vw;
  top: 0.5vh;
  font-size: 2rem;
  color: white;
  font-family: "Circular-Light";
  font-weight: 100;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header:hover .language-change {
  color: black;
}


h1 {
  font-family: "Circular-LightItalic";
  font-weight: 50;
  font-style: italic;
  font-size: 5svh;
  text-align: center;
}

.hero-text {
  margin-top: 8vh;
  width: 100%;
  height: 13svh;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column: 1/19;
}

.hero-image-container {
  width: 100%;
  height: auto;
  padding: 3.5svh;
  background-color: #00657C;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/19;
}

.hero-image {
  width: 90%;
  height: auto;
  border-top: #D9D9D9 3.5svh solid;
  border-bottom: #D9D9D9 16svh solid;
  border-left: #D9D9D9 5svh solid;
  border-right: #D9D9D9 4.5svh solid;
} 

.impressions-container {
  width: 100%;
  height: auto;
  grid-column: 1/19;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.impression-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#impression1 {
  grid-column: 1/9;
}

#impression2 {
  grid-column: 9/16;
}

#impression3 {
  grid-column: 16/21;
}

#impression4 {
  grid-column: 1/4;
}

#impression5 {
  grid-column: 4/11;
}

#impression6 {
  grid-column: 11/17;
}

#impression7 {
  grid-column: 17/21;
}

#impression8 {
  grid-column: 1/3;
}

#impression9 {
  grid-column: 3/6;
}

#impression10 {
  grid-column: 6/13;
}

#impression11 {
  grid-column: 13/18;
}

#impression12 {
  grid-column: 18/21;
}

#impression13 {
  grid-column: 1/7;
}

#impression14 {
  grid-column: 7/13;
}

#impression15 {
  grid-column: 13/19;
}

#impression16 {
  grid-column: 19/21;
}

#impression17 {
  grid-column: 1/4;
}

#impression18 {
  grid-column: 4/8;
}

#impression19 {
  grid-column: 8/11;
}

#impression20 {
  grid-column: 11/15;
}

#impression21 {
  grid-column: 15/21;
}

.vertical-line {
  border: none;
  height: 1.5px;
  background-color: #458d9d; 
  margin: 40px;
  grid-column: 6/15;
}

.playlist {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #00657C;
  grid-column: 1/19;
}

.full-vertical-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  color: white;
  z-index: 1;
}

#playlist-line1 {
  top: 10svh;
}

.playlist-text-box {
  position: relative;
  top: 5svh;
  width: 30%;
  height: auto;
  background-color: #074C5C;
  border-radius: 25px;
  box-shadow: rgba(7, 76, 92, 40%) 0px 20px 0px 0px;
  padding: 2svh 0;
  margin-inline: auto;
  z-index: 2;
}

.playlist-text {
  font-family: "Caveat";
  font-style: normal;
  text-align: center;
  color: white;
}

#playlist-line2 {
  top: 28%;
}

.record-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 30%;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 60%);
}

.record-block-left {
  grid-column: 1;
  height: 50%;
  margin-block: auto;
  background-color: white;
  opacity: 30%;
  z-index: 6;
}

.record-block-right {
  grid-column: 2;
  height: 50%;
  margin-block: auto;
  background-color: rgba(0, 0, 0, 60%);
  opacity: 60%;
}

.Record {
  position: relative;
  display: block;
  width: 50%;
  height: auto;
  margin-top: 15svh;
  margin-bottom: 5svh;
  margin-inline: auto;
  z-index: 2;
}

.spotify-container {
  grid-column: 1/19;
  width: 100%;
  height: auto;
  background-color: #00657C;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 2rem;
  scroll-behavior: smooth;
}

.spotify-container iframe{
  min-width: 250px;
  height: 352px;
  border: none;     
  outline: none;    
  border-radius: 12px;
  flex-shrink: 0;
}

.spotify-bottom {
  grid-column: 1/19;
  width: 100%;
  height: 2.5vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-line {
  width: 50%;
  height: 1px;
  background-color: #00657C;
}

footer {
  background-color: rgba(0, 101, 124, 0.7);
  width: 100%;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(18,1fr);
  grid-column: 1/19;
}

.footertext {
  font-family: "Circular-Light";
  color:#ffffff ;
  font-size: 2vh;
}

.footerbox1 {
  padding-left: 2vh;
  grid-area: 1/1/15/7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerlogo {
  font-family: "Circular-Medium";
  color:#EDE5BB ;
  font-size: 8vh;
}

.footerline1 {
  margin-top: 2vh;
  background-color:#00657C;
  width: 100%;
  min-height: 1px;
}

.footerline2 {
  grid-area: -8/14/-8/18;
  margin-top: 2vh;
  background-color:#00657C;
  min-height: 1px;
  width: 20vw;
}

.footerbuttons {
  padding-left: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2vh;
  list-style-type: none;
} 

 .footerbuttons a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.footerbuttons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #EDE5BB;
  transition: width 0.4s ease-in-out;
}

.footerbuttons a:hover {
  color: #EDE5BB;
}

.footerbuttons a:hover::after {
  width: 100%;
}

.footerillustrationbox {
  grid-area: 1/8/19/12;
  display: flex;
}

.imgfooter {
  width: 100%;
  height: 100%;
}

.footerbox2 {
  grid-area: 7/14/19/19;
}

.copyright {
  margin-top: 2vh;
  font-family: "Circular-Light";
  color:#ffffff ;
  font-size: 1.5vh;
}

.languagebox {
  grid-area: -8/18/-7/19;
}

.footerlanguage {
  font-family: "Circular-Light";
  color:#ffffff ;
  font-size: 2vh;
}

@media (max-width: 1000px) {
  .language {
    right: 1svh;
    top: 1svh;
  }
}

@media (max-width: 768px) {
  header {
    height: 8svh;
  }

  ul {
    gap: 2svh;
  }

  a {
    font-size: small;
  }

  .language {
    font-size: small;
    right: 1.5svh;
    top: auto;
  }

  .hero-text {
    height: 10svh;
  }

  h1 {
    font-size: 3svh;
  }

  .hero-image {
    width: 100%;
    height: auto;
    border-top: #D9D9D9 1.5svh solid;
    border-bottom: #D9D9D9 6svh solid;
    border-left: #D9D9D9 2.25svh solid;
    border-right: #D9D9D9 2svh solid;
  }

  .footer-line {
    margin: 20px;
    grid-column: 5/16;
  }
}

@media (max-width: 450px) {
  .language {
    font-size: x-small;
    top: 1svh;
    right: 1svh;
    padding-right: 0;
  }

  .languagebutton {
    padding-right: 2svh;
  }

  .languagebutton::after {
    right: 0.3svh;
    border-left: 0.4svh solid transparent;
    border-right: 0.4svh solid transparent;
    border-top: 0.6svh solid white;
  }

  .languagebutton:hover::after {
    border-top: 0.6svh solid #EDE5BB;
  }
}
