@font-face 
{
  font-family: "Circular-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face 
{
  font-family: "Circular-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face 
{
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face 
{
  font-family: "Circular-BoldItalic";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face 
{
  font-family: "Circular-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face 
{
  font-family: "Circular-BookItalic";
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face 
{
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face 
{
  font-family: "Circular-LightItalic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face 
{
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face 
{
  font-family: "Circular-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face 
{
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v23/WnznHAc5bAfYB2QRah7pcpNvOx-pjfJ9eIWpYQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.header 
{
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: 8vh;
  background-color: #074C5C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 100;
}

.header:hover 
{
  background-color: white;
}

.nav 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.nav-list 
{
  display: flex;
  gap: 2vw;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a 
{
  color: white;
  font-size: 2rem;
  font-family: "Circular-Light";
  font-weight: 100;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header:hover .nav-list a 
{
  color: black;
}

.language-change 
{
  position: absolute;
  right: 2vw;
  top: 0.5vh;
  font-size: 2rem;
  color: white;
  font-family: "Circular-Light";
  font-weight: 100;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header:hover .language-change 
{
  color: black;
}

.darkmodeimg 
{
  width: 4svh;
  height: auto;
}

.darkmode-change 
{
  position: absolute;
  left: 0.8vw;
  top: -0.4vw;
  font-size: 2rem;
  color: white;
  font-family: "Circular-Light";
  font-weight: 100;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header:hover .darkmode-change 
{
  color: black;
}

h1 
{
  font-family: "Circular-LightItalic";
  font-weight: 50;
  font-style: italic;
  font-size: 5svh;
  text-align: center;
}

.hero-text 
{
  margin-top: 8vh;
  width: 100%;
  height: 13svh;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column: 1/19;
}

.hero-image-container 
{
  width: 100%;
  height: auto;
  padding: 3.5svh;
  background-color: #00657C;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/19;
}

.hero-image 
{
  width: 90%;
  height: auto;
  border-top: #D9D9D9 3.5svh solid;
  border-bottom: #D9D9D9 16svh solid;
  border-left: #D9D9D9 5svh solid;
  border-right: #D9D9D9 4.5svh solid;
} 

.impressions-container 
{
  width: 100%;
  height: auto;
  grid-column: 1/19;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.impression-image 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#impression1 
{
  grid-column: 1/9;
}

#impression2 
{
  grid-column: 9/16;
}

#impression3 
{
  grid-column: 16/21;
}

#impression4 
{
  grid-column: 1/4;
}

#impression5 
{
  grid-column: 4/11;
}

#impression6 
{
  grid-column: 11/17;
}

#impression7 
{
  grid-column: 17/21;
}

#impression8 
{
  grid-column: 1/3;
}

#impression9 
{
  grid-column: 3/6;
}

#impression10 
{
  grid-column: 6/13;
}

#impression11 
{
  grid-column: 13/18;
}

#impression12 
{
  grid-column: 18/21;
}

#impression13 
{
  grid-column: 1/7;
}

#impression14 
{
  grid-column: 7/13;
}

#impression15 
{
  grid-column: 13/19;
}

#impression16 
{
  grid-column: 19/21;
}

#impression17 
{
  grid-column: 1/4;
}

#impression18 
{
  grid-column: 4/8;
}

#impression19 
{
  grid-column: 8/11;
}

#impression20 
{
  grid-column: 11/15;
}

#impression21 
{
  grid-column: 15/21;
}

.vertical-line 
{
  border: none;
  height: 1.5px;
  background-color: #458d9d; 
  margin: 40px;
  grid-column: 6/15;
}

.playlist 
{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #00657C;
  grid-column: 1/19;
}

.full-vertical-line 
{
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  color: white;
  z-index: 1;
}

#playlist-line1 
{
  top: 10svh;
}

.playlist-text-box 
{
  position: relative;
  top: 5svh;
  width: 30%;
  height: auto;
  background-color: #074C5C;
  border-radius: 25px;
  box-shadow: rgba(7, 76, 92, 40%) 0px 2svh 0px 0px;
  padding: 2svh 0;
  margin-inline: auto;
  z-index: 2;
}

.playlist-text 
{
  font-family: "Caveat";
  font-style: normal;
  text-align: center;
  font-size: 5svh;
  color: white;
}

#playlist-line2 
{
  top: 28%;
}

.record-block 
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: 30%;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 60%);
}

.record-block-left 
{
  grid-column: 1;
  height: 50%;
  margin-block: auto;
  background-color: white;
  opacity: 30%;
  z-index: 6;
}

.record-block-right 
{
  grid-column: 2;
  height: 50%;
  margin-block: auto;
  background-color: rgba(0, 0, 0, 60%);
  opacity: 60%;
}

.record 
{
  position: relative;
  display: block;
  width: 50%;
  height: auto;
  margin-top: 15svh;
  margin-bottom: 5svh;
  margin-inline: auto;
  z-index: 2;
}

.spotify-container 
{
  grid-column: 1/19;
  width: 100%;
  height: auto;
  background-color: #00657C;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  overflow-x: auto;
  padding: 2rem;
  scroll-behavior: smooth;
}

.spotify-container iframe
{
  min-width: 250px;
  height: 352px;
  border: none;     
  outline: none;    
  border-radius: 12px;
  flex-shrink: 0;
}

.spotify-bottom 
{
  grid-column: 1/19;
  width: 100%;
  height: 2.5vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-line 
{
  width: 50%;
  height: 1px;
  background-color: #00657C;
}

footer 
{
  background-color: rgba(0, 101, 124, 0.7);
  width: 100%;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(18,1fr);
  grid-template-rows: repeat(18,1fr);
  grid-column: 1/19;
}

.footertext 
{
  font-family: "Circular-Light";
  color:#ffffff ;
  font-size: 2vh;

  white-space: nowrap;
}

.footerbox1 
{
  padding-left: 2vh;
  grid-area: 1/1/15/7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerlogo 
{
  font-family: "Circular-Medium";
  color:#EDE5BB ;
  font-size: 6.5vh;
}

.footerline1 
{
  margin-top: 2vh;
  background-color:#00657C;
  width: 100%;
  min-height: 1px;
}

.footerline2 
{
  grid-area: -8/14/-8/18;
  margin-top: 2vh;
  background-color:#00657C;
  min-height: 1px;
  width: 20vw;
}

.footerbuttons 
{
  padding-left: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2vh;
  list-style-type: none;
} 

.footerbuttons a 
{
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.footerbuttons a::after 
{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #EDE5BB;
  transition: width 0.4s ease-in-out;
}

.footerbuttons a:hover 
{
  color: #EDE5BB;
}

.footerbuttons a:hover::after 
{
  width: 100%;
}

.footerillustrationbox 
{
  grid-area: 1/8/19/12;
  display: flex;
}

.imgfooter 
{
  width: 100%;
  height: 100%;
}

.footerbox2 
{
  grid-area: 7/14/19/19;
}

.copyright 
{
  margin-top: 2vh;
  font-family: "Circular-Light";
  color:#ffffff ;
  font-size: 1.5vh;
}

@media (max-width: 1000px) 
{
  .language 
  {
    right: 1svh;
    top: 1svh;
  }

  .playlist-text 
  {
    font-size: 4svh;
  }

  .record-block 
  {
    height: 20%;
  }

  footer 
  {
    height: 60vh;
  }

  .footerbox1 
  {
    grid-area: 1/4/8/16;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerbox2 
  {
    grid-area: 13/8/18/12;
    text-align: center;
  }

  .footerline2 
  {
    grid-area: auto;
    margin: 2vh auto 0 auto;
    background-color: #00657C;
    min-height: 1px;
    width: 20vw;
  }
}

@media (max-width: 768px) 
{
  .header 
  {
    height: 10vh;
    width: 100%;
    gap: 4vw;
    background-color: white;
  }

  .nav-list 
  {
    gap: 3vw;
  }

  .nav-list a 
  {
    font-size: 1.4rem;
    color: black;
  }

  .language-change 
  {
    font-size: 1.4rem;
    right: 4vw;
    top: 2.5vh;
  }

  .hero-text 
  {
    height: 10svh;
  }

  h1 
  {
    font-size: 3svh;
  }

  .hero-image 
  {
    width: 100%;
    height: auto;
    border-top: #D9D9D9 1.5svh solid;
    border-bottom: #D9D9D9 6svh solid;
    border-left: #D9D9D9 2.25svh solid;
    border-right: #D9D9D9 2svh solid;
  }

  .playlist-text 
  {
    font-size: 3svh;
  }

  #playlist-line2 
  {
    top: 26%;
  }

  .record-block 
  {
    height: 15%;
    top: 28.5%;
  }

  .record 
  {
    margin-top: 10svh;
  }

  .footerbox2 
  {
    grid-area: 13/6/18/14;
  }

  .footerlogo 
  {
    font-size: 5.5vh;
  }
}

@media (max-width: 630px) 
{
  #playlist-line2 
  {
    top: 25%;
  }

  .record-block 
  {
    top: 27%;
  }

  .spotify-container iframe
  {
    width: 100px;
    height: 352px;
  }
}

@media (max-width: 480px) 
{ 
  .darkmode-change 
  {
    position: static;
  }
  .header 
  {
    height: auto;
    padding: 10px 0;
  }

  .nav 
  {
    flex-direction: column;
  }

  .nav-list 
  {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
  }

  .nav-list a 
  {
    font-size: 1rem;
  }

  .language-change 
  {
    position: static;
    margin-top: 8px;
    font-size: 1rem;
  }

  .playlist-text 
  {
    font-size: 2.7svh;
  }

  .record-block 
  {
    height: 12.5%;
  }

  .record 
  {
    margin-top: 8svh;
    margin-bottom: 1svh;
  }

  .spotify-container iframe
  {
    width: 130px;
    height: 352px;
  }

  .footertext 
  {
    font-size: 1.5vh;
  }
}

@media (max-width: 450px) 
{
  .language 
  {
    font-size: x-small;
    top: 1svh;
    right: 1svh;
    padding-right: 0;
  }

  .languagebutton 
  {
    padding-right: 2svh;
  }

  .languagebutton::after 
  {
    right: 0.3svh;
    border-left: 0.4svh solid transparent;
    border-right: 0.4svh solid transparent;
    border-top: 0.6svh solid white;
  }

  .languagebutton:hover::after 
  {
    border-top: 0.6svh solid #EDE5BB;
  }

  .playlist-text 
  {
    font-size: 2svh;
  }

  .playlist-text-box 
  {
    box-shadow: rgba(7, 76, 92, 40%) 0px 1.5svh 0px 0px;
  }

  #playlist-line2 
  {
    top: 24.5%;
  }

  .record-block 
  {
    top: 26%;
  }
}

@media (max-width: 375px) 
{
  .footerillustrationbox 
  {
    grid-area: 9/3/12/17;
  }

  .footerbox2 
  {
    grid-area: 13/6/18/14;
  }

  footer 
  {
    height: 50vh;
  }

  .footerlogo 
  {
    font-size: 4.5vh;
  }

  .playlist-text 
  {
    font-size: 1.7svh;
  }

  .record-block 
  {
    height: 10%;
  }
}