*{
    margin: 0;
    padding: 0;
    color: var(--oui_darkblue);
}

/* ------------------- Fonts ------------------- */
@font-face {
  font-family: "Circular-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BoldItalic";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Book";
  src: url("/static/fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BookItalic";
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular-LightItalic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* ------------------- Colours ------------------- */
:root{
    --oui_darkblue: #00657C;
    --oui_beige: #EDE5BB;
    --oui_red: #95261F;
    --oui_lightblue: #BAD3EE;
    --offwhite: #D9D9D9;
}

.mainGrid{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

/* ------------------- Home Bar ------------------- */
.header{
    grid-column: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2vw;
    height: 8vh;
    border-bottom: 2px solid white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;

    transition: all 0.5s ease;
    z-index: 90; /*arranges element to the front of all other elements*/
}

.header:hover{
    background-color: white;
}

.header > a{
    color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: 100;
    font-family: "Circular-Book";
    text-decoration: none;
    align-self: flex-start;
    transition: all 0.5s ease;
}

.header:hover a{
    color: black
}

.header >a.language-change{
    position: absolute;
    right: 2vw;
    top: 2vh;
    font-size: 1rem;
}

/* ------------------- Logo ------------------- */

.ouiLogo{
    position: absolute;
    justify-self: anchor-center;
    align-self: anchor-center;
    width: 15vw;
}

.smallCircle{
    position: absolute;
    justify-self: anchor-center;
    align-self: anchor-center;
    background-color: var(--oui_beige);
    display:inline-block ;
    width: 24vw;
    height: 17vw;
    border-radius: 50%;
}

.mediumCircle{
    position: absolute;
    justify-self: anchor-center;
    align-self: anchor-center;
    background-color: var(--oui_beige);
    opacity: 80%;
    width: 28vw;
    height: 20vw;
    border-radius: 50%;
}

.largeCircle{
    position: absolute;
    justify-self: anchor-center;
    align-self: anchor-center;
    background-color: var(--oui_beige);
    opacity: 30%;
    width: 32vw;
    height: 23vw;
    border-radius: 50%;
}

/* ------------------- Divs ------------------- */

.content{
    grid-template-columns: repeat(18, 1fr);
    display: grid;
    grid-column: 1/19;
}

.top{
    grid-column: 1/19;
    background-image: url("../images/headerimage-homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
    height: 95vh;
}

.inTop{
    display: flex;
}

.headerImage{
    width: 100%;
}

/* ------------------- Carousel ------------------- */


.carousel{
    display: flex;
    max-width: 39vw;
    overflow-x: auto;
    position: absolute;
    margin-left: 3vw;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
    img{
        max-width: 100%;
        scroll-snap-align: start;
    }
}

.carousel::scroll-button(right), .carousel::scroll-button(left){
    content: "\25BB";
    justify-items: center;
    font-family: "Circular-Light";
    font-size: 1.5vw;
    background-color: var(--oui_beige);
    color: var(--oui_darkblue);
    border: none;
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    cursor: pointer;
    translate: -110%;
}

.carousel::scroll-button(left){
    content: "\25C5";
    position-area: left center;
    translate: 110%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
    opacity: 40%;
}

.carousel::-webkit-scrollbar{
    display: none;
}

/* ------------------- Content Sections ------------------- */
.r1{
    grid-column: 1/19;
    grid-template-columns: repeat(19, 1fr);
    display: grid;
    width: 100%;
    background-color: var(--offwhite);
    margin-block: 1rem;
    h3{
        font-family: "Circular-Light";
        line-height: 3vw;
        padding-inline: 1rem;
        width: 100%;
        font-size: 1.3vw;
        text-align: left;
    }
}

.historyUnderline{
    width: 50%;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    background-color: var(--oui_darkblue);
}

.todayText{
    padding-block: 2rem;
}

.r2{
    grid-column: 1/19;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    margin-block: 1rem;
    padding-bottom: 5rem;
    .hl{
        align-self: center;
        width: 20vw;
        height: 1px;
        background-color: var(--oui_darkblue);
    }
}

.r3{
    grid-column: 1/19;
    grid-template-columns: repeat(18, 1fr);
    display: grid;
    background-color: var(--offwhite);
    padding-block: 4rem;
    margin-top: 2rem;
}

.r4{
    grid-column: 1/19;
    grid-template-columns: repeat(18, 1fr);
    display: grid;
    background-color: var(--offwhite);
    margin-top: 1rem;
    padding-top: 3rem;
}

.veganOptions{
    grid-column: 1/19;
    width: 100%;
}

.r5{
    grid-column: 1/19;
}

.croissant{
    width: 100%;
}

.horizontalLineDBlue{
    background-color: var(--oui_darkblue);
    height: 2vw;
    width: 100%;
}

.vegan1{
    grid-column: 1/9;
    grid-row: 2;
    z-index: 2;
    height: 35vw;
    img{
        width: 100%;
    }
}

.vegan2{
    grid-column: 12/19;
    grid-row: 2;
    padding-top: 10rem;
    padding-left: 4rem;
    z-index: 2;
    img{
        width: 100%;
    }
}

.blueBackdropWide{
    background-color: var(--oui_darkblue);
    grid-column: 1/19;
    padding-block: 2rem;
    padding-inline: 1rem;
}

.whiteBackdropWide{
    justify-items: center;
    flex-direction: column;
    background-color: white;
    display: flex;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgHover:hover, .veganLink:hover, .menuLink:hover, .browseLink:hover, .readMore:hover{
    scale: 1.02;
    transition: 0.3s ease-in-out;
}

.blueBackdropL{
    grid-column: 2/9;
    margin-top: 2rem;
    height: 26vw;
    background-color: var(--oui_darkblue);
}

.right{
    grid-column: 11/19;
}

.bold{
    font-weight:800;
}

.left{
    grid-column: 1/10;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    padding-left: 3rem;
}

.blueBackdropR{
    width: 100%;
    height: 35vw;
    align-self: center;
    background-color: var(--oui_darkblue);
}

/*
.cafebw{
    transform: translate(-20%, -200%);
    justify-self: right;
    width: 558px;
    height: 428px;
}*/

.browse{
    grid-column: 10/19;
    display: flex;
    margin-left: 45rem;
    position: absolute;
}

.coffeeIllustration{
    height: 8vw;
}

/* ------------------- Link Buttons ------------------- */

.veganLinkContent{
    grid-column: 10/18;
    position: absolute;
    margin-left: 43%;
    display: flex;
    a{
    /*box*/
    background-color: var(--oui_beige);
    border-radius: 3ch;
    padding-inline: 3rem;
    padding-block: 1rem;
    /*text*/
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: "Circular-Light";
    }
}

.browseLink{
    /*box*/
    background-color: var(--oui_darkblue);
    border-radius: 3ch;
    padding-inline: 1rem;
    padding-block: 1rem;
    align-self: center;
    /*text*/
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    font-family: "Circular-Book";
}

.menuLink{
    position: absolute;
    align-self: flex-end;
    transform: translateY(50px);
    overflow-x: auto;
    /*box*/
    background-color: var(--oui_beige);
    border-radius: 3ch;
    padding-inline: 2rem;
    padding-block: 1rem;
    /*text*/
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    justify-self: center;
    align-content: center;
    font-family: "Circular-Light";
}

.readMore{
    /*box*/
    background-color: var(--oui_darkblue);
    position: relative;
    border-radius: 3vw;
    padding-inline: 2vw;
    padding-block: 1vw;
    left: 1rem;
    margin-bottom: 2rem;
    /*text*/
    color: white;
    text-align: center;
    font-size: 1.5vw;
    font-family: "Circular-Light";
}
/* ------------------- Text(s) ------------------- */

.bounce{
    color: #FFFFFF;
    font-family: "Circular-Light";
    font-size: 1.3vw;
    position: absolute;
    justify-self: center;
    bottom: 2vh;
    animation: bounce 1.5s ease-in-out infinite;
    padding-bottom: 3vh;
}

@keyframes bounce
{
    0%, 100%
    {
        transform: translateY(0);
    }    
    50%
    {
        transform: translateY(-30px);
    }
}

.content >h3{
    text-align: center;
    justify-self: center;
    color: var(--oui_darkblue);
    padding-block: 1rem;
    padding-inline: 13rem;
}

.history{
    /*padding-block: 2rem;
    padding-inline: 5rem;*/
    font-family: cursive;
    font-size: 3vw;
    padding-left: 1rem;
    padding-top: 5rem;
}

.popular{
    padding-block: 2rem;
    padding-inline: 5rem;
    font-family: "Circular-Light";
    font-size: 2vw;
}

.textc1, .textc2{
    justify-items: center;
    grid-column: 8 / 12;
}

.textc2{
    grid-column: 3/16;
}

.c{
    font-family: "Circular-Light";
    padding-block: 1rem;
    text-align: center;
    font-size: 1.4vw;
}

.choicesText{
    text-align: center; 
    color: black;
    font-family: "Circular-Light";
}

.textPopular{
    justify-items: center;
}

/* ------------------- Vertical Lines ------------------- */
.vl1{
    height: 2vw;
}

.vl2{
    height: 5vw;
}

.vl1, .vl2{
    grid-column: 10;
    justify-items: center;
    background-color: var(--oui_darkblue);
    width: 1px;
}

.hl2{
    width: 20vw;
    height: 2px;
    background-color: var(--oui_darkblue);
    justify-self: center;
    margin-block: 0.75rem;
}

/*.doubleHl1, .doubleHl2{
    transform: translate(10%, 250px);
    width: 400px;
    position: absolute;
    height: 7px;
    background-color: var(--oui_darkblue);
    justify-self: center;
    margin-block: 0.75rem;
}

.doubleHl2{
        transform: translate(10%, 260px);
}*/

.veganLinkHl{
    align-self: center;
    width: 25vw;
    height: 1px;
    background-color: var(--oui_darkblue);
    margin-right: 2rem;
}

.vegan1 > img{
    width:100%;
}

/*.hl{
    padding-left: 3rem;
    position:absolute;
    justify-self: left;
    background-color: var(--oui_darkblue);
    display: block;
    width: 76px;
    height: 1px;
}*/