/* ------------------- Fonts ------------------- */
@font-face {
  font-family: "Circular-Black";
  src: url("../fonts/CircularStd-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BlackItalic";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BoldItalic";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Book";
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular-BookItalic";
  src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Light";
  src: url("../fonts/CircularStd-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular-LightItalic";
  src: url("../fonts/CircularStd-Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../fonts/CircularStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular-MediumItalic";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}


* {
  margin: 0;
  box-sizing: border-box;
}

/* ------------------- GRID SYSTEM ------------------- */
body {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

section {
  grid-column: 1 / -1;
}

/* ------------------- Header ------------------- */
.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: 8vh;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 100;
}

.header:hover {
  background-color: white;
}

.header > a {
  color: white;
  font-size: 2rem;
  font-family: "Circular-Light";
  font-weight: 100;
  text-decoration: none;
  transition: all 0.5s ease;
}

.header:hover a {
  color: black;
}

.header > a.language-change {
  position: absolute;
  right: 2vw;
  top: 2vh;
  font-size: 2rem;
}

/* ------------------- Hero ------------------- */
.hero-section {
  grid-column: 1 / -1;
  height: 100vh;
  width: 100%;
  background-image: url("../images/f68e70c872fdc53439e4f0fb2a0eb47bc512f60a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  align-items: center;
  justify-items: center;
}

.hero-title {
  grid-column: 1 / -1; /* По центру, на всю ширину */
  color: white;
  font-size: 5rem;
  font-family: "Circular-Book";
  font-style: italic;
  font-weight: 100;
  text-align: center;
}


/* ------------------- Main Dishes ------------------- */
.main-dishes {
  grid-column: 1 / -1;
  height: fit-content;
  background-color: #00657C;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  justify-content: center;
  align-content: start;
}

.main-dishes .menu-title {
  grid-column: 2 / 18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  padding-top: 1rem;
}

.main-dishes .menu-title h2 {
  color: white;
  font-size: 3vw;
  font-family: "Circular-Book";
  font-style: italic;
  font-weight: 500;
}

.main-dishes .menu-title .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: white;
}

/* ------------------- Dishes Layout ------------------- */
.menu-box {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content: start;
  gap: 1vh;
}

.food-menu-box {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  justify-content: center;
  align-content: start;
  gap: 1vh;
}

.dish-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.dish-title .vertical-line {
  width: 1px;
  height: 3rem;
  background-color: white;
}

.dish-title h3 {
  color: white;
  font-size: 2vw;
  font-family: "Circular-Light";
  font-style: italic;
  font-weight: 200;
}

/* ------------------- Pain Box ------------------- */
.pain-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  max-width: 100%;
}

#pain-dish-box {
  grid-column: 2/11;
}

#salad-dish-box {
  grid-column: 12/18;
}

.pain-box img {
  object-fit: cover;
  max-width: 35vw;
  padding: 0;
}

.dish-name-box {
  background-color: #EDE5BB;
  width: fit-content;
  height: fit-content;
  padding-inline: 1vw;
}

.pain-box .dish-name-box {
  padding-left: 4vw;
  padding-right: 2vw;
  padding-block: 1vw;
  margin-left: -2vw;
}

.dish-name-box h3 {
  font-family: "Circular-Light";
  color: #074C5C;
  line-height: 2vw;
  font-weight: 100;
  font-size: 1vw;
}

/* ------------------- Salad Box ------------------- */
.salad-box {
  padding-top: 3vh;
  display: grid;
  grid-template-columns: repeat(5, 6vw);
  grid-template-rows: repeat(5, 6vw);
}

.salad-box img {
  object-fit: cover;
  max-width: 30vw;
}

#egg-text {
  grid-row: 5;
  grid-column: 1 / 3;
  align-self: end;
  justify-self: start;
}

#tuna-text {
  grid-row: 3;
  grid-column: 4;
  align-self: end;
  justify-self: start;
}

/* ------------------- Pastry Boxes ------------------- */


.ecleir-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2 / 6;
}

.ecleir-box img {
  object-fit: cover;
  max-width: 100%;
  padding-top: 2rem;
}

.millefeuille-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 7 / 13;
}

.millefeuille-box img {
  object-fit: cover;
  max-width: 100%;
  padding-top: 2rem;
}

.creampuffs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 14 / 18;
}

.creampuffs-box img {
  object-fit: cover;
  max-width: 100%;
  padding-top: 2rem;
}

.brest-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 14 / 18;
}

.brest-box img {
  object-fit: cover;
  max-width: 100%;
  padding-top: 2rem;
}

.pastry-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 8 / 14;
}

.pastry-box img {
  object-fit: cover;
  max-width: 100%;
}

.macaroons-box {
  grid-column: 2 / 7;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.macaroons-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  padding-bottom: 1vh;
}

.macaroons-box img {
  max-width: 100%;
  padding: 0;
}


.macaroons-box .dish-name-box {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-block: 1vw;
  margin-left: -1vw;
}


/* ------------------- Hot Drinks ------------------- */
.hot-drinks {
  grid-column: 1 / -1;
  height: 66vw;
  background-color: #EDE5BB;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  justify-content: center;
  align-content: start;

  position: relative;
}

.hot-drinks .menu-title {
  grid-column: 2 / 18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  padding-top: 3rem;
}

.hot-drinks .menu-title h2 {
  color: #074C5C;
  font-size: 3vw;
  font-family: "Circular-Book";
  font-style: italic;
  font-weight: 500;
}

.hot-drinks .menu-title .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #074C5C;
}

.hot-drinks .dish-title {
  grid-column: 8/12;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hot-drinks .dish-title h3 {
  color: #074C5C;
}

.hot-drinks .dish-title .vertical-line {
  background-color: #074C5C;
}

.coffe-menu {
  grid-column: 2/9;
  max-width: 100%;

  display: flex;
  flex-direction: row;
  align-items: end;
}

.coffe-menu .dish-name-box {
  padding-left: 2vw;
  padding-right: 1vw;
  padding-block: 1vw;
  margin-bottom: 3vh;
  margin-left: -1vw;

  background-color: #074C5C;
  z-index: 3; 
}

.coffe-menu .dish-name-box h3 {
  color: white;
}



.coffe-menu img {
  max-width: 100%;
  z-index: 2;
}

.tea-menu {
  grid-column: 10/17;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  z-index: 3;
}

.tea-menu img {
  max-width: 100%;
  z-index: 2;
}

.tea-menu .dish-name-box {
  padding-left: 2vw;
  margin-top: 4vh;
  padding-right: 1vw;
  padding-block: 0.5vw;
  margin-right: -1vw;

  background-color: #074C5C;
  z-index: 3;
}

.tea-menu .dish-name-box h3 {
  color: white;
}

.background-illustrations {
  position: absolute;
  left: 0;

  width: 100%;
  height: 20vh;

  background-image: url("../illustrations/196e37f8fdab934dc3640374eab6bce04460c444.png");
  background-repeat: repeat;
  background-size: 6%;
  background-position: center;

  z-index: 0; /* под контентом */
  opacity: 0.15; /* можешь убрать, если не нужна прозрачность */
}
.hot-drinks #upper-background {
  top: 5vw; /* по центру секции */
}

.hot-drinks #bottom-background {
  bottom:0vw; /* по центру секции */
}

.white-decoration-line {
  position: absolute;
  top: 40vw; /* по центру секции */
  left: 0;
  transform: translateY(-50%); /* чтобы центрировать по вертикали */
  width: 100%;
  height: 3vh;

  background-color: white;
  z-index: 0; /* под контентом */
}

/* ------------------- COLD REFRESHMENTS ------------------- */
.cold-drinks {
  grid-column: 1 / -1;
  background-color: #00657C;
  background-image: url("/static/illustrations/eb484a1d8bcb3d8f5d5365420a64dba1560b0391.png");
  background-repeat: repeat;
  background-size: 15%;

  width: 100vw;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  justify-content: center;
  align-content: start;
  padding-bottom: 5vh;
  gap: 5vh;
}

.cold-drinks .menu-title {
  grid-column: 2 / 18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  padding-top: 1rem;
  text-wrap: nowrap;
}

.cold-drinks .menu-title h2 {
  color: white;
  font-size: 3vw;
  font-family: "Circular-Book";
  font-style: italic;
  font-weight: 500;
}

.cold-drinks .menu-title .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.cold-drinks img {
  max-width: 100%;
}

.cold-drinks .lemonade-box {
  grid-column: 2/19;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(13, 1fr);
  justify-content: center;
  align-content: start;
}

.cold-drinks .lemonade-box img {
  grid-area: 1/1/13/10;
  max-width: 100%
}

.yellow-decoration-line {
  background-color: #EDE5BB;
}

.cold-drinks .lemonade-box .yellow-decoration-line {
  grid-area: 5/10/5/18;
}

.cold-drinks .ice-tea-box {
  grid-column: 1/18;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-content: start;
}

.cold-drinks .ice-tea-box img {
  grid-area: 13/18/1/12;
  max-width: 100%
}

.cold-drinks .ice-tea-box .yellow-decoration-line {
  grid-area: 6/12/6/1;
}

.cold-drinks .juice-box {
  grid-column: 2/19;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-content: start;
}

.cold-drinks .juice-box img {
  grid-area: 1/1/13/7;
  max-width: 100%
}

.cold-drinks .juice-box .yellow-decoration-line {
  grid-area: 7/7/7/18;
}

/* ------------------- MOBILE RESPONSIVENESS ------------------- */
@media (max-width: 768px) {
  body {
    grid-template-columns: repeat(6, 1fr);
  }

  .pain-box,
  .menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh; 
    max-width: 90%;          /* чтобы не растягивалось на всю ширину */
    margin: 0 auto;          /* центрируем весь блок */
    padding-bottom: 3vh;
  }

  .food-menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh; 
    max-width: 90%;          /* чтобы не растягивалось на всю ширину */
    margin: 0 auto;          /* центрируем весь блок */
  }

  .ecleir-box img,
  .millefeuille-box img,
  .creampuffs-box img {
    max-width: 80%;
  }

  .macaroons-box img {
    max-width: 70%;
  }
  
  .macaroons-content {
    justify-content: center;
  }

  .main-dishes {
    height: fit-content;
  }

  .main-dishes .menu-title h2 {
    font-size: 6vw;
  }

  .dish-title .vertical-line {
    height: 2rem;
  }

  .dish-title h3 {
    font-size: 6vw;
  }


  .dish-box img {
    max-width: 80vw;
    padding-top: 1rem;
  }

  .pain-box {
    padding-top: 1rem;
  }

  .dish-name-box h3 {
    line-height: 7vw;
    font-size: 4vw;
  }

  .dish-name-box {
    margin-top: 2vh;
  }

  .salad-box {
    padding-top: 3vh;
    display: grid;
    grid-template-columns: repeat(5, 18vw);
    grid-template-rows: repeat(5, 18vw);
  }

  #egg-text {
    align-self: end;
  }

  #tuna-text {
    align-self: end;
  }

  .salad-box img {
    max-width: 90vw;
    padding-top: 0;
  }

  .hot-drinks {
    height: 90vh;
  }

  .hot-drinks .menu-title h2{
    font-size: 6vw;
  }
  .hot-drinks .dish-title h2{
    font-size: 4vw;
  }
  .hot-drinks .dish-title{
    grid-column: 6/14;
  }
  .coffe-menu {
    max-width: 100%;
    grid-column: 3 / 17;
  }
  .coffe-menu img {
    width: 70%;
  }

  .tea-menu {
    padding-top: 3rem;
    max-width: 100%;
    grid-column: 3 / 17;
  }
  .tea-menu img {
    width: 70%;
  }

  #upper-background {
    height: 15vh;
    background-size: 15%;
    /* top: 25vh; */
  }

  #bottom-background {
    height: 15vh;
    background-size: 15%;
  }

  .white-decoration-line {
    background-color: transparent;
  }
}
